<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        HTML File with Bootstrap Theme
    -->
    <meta charset="utf-8" />

    <title>{% block title %} Game Clones  {% endblock %}</title>
  
    <meta name="author" content="John Francis Marion" />
    <meta name="description" content="This is a website." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css">
</head>

<body>
    
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                
                <a href="/" class="navbar-brand">Game Clones</a>
                
                <button class="navbar-toggle" type="button" data-target="#navbar-main" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        
                        <a id="games" class="dropdown-toggle" href="#" data-toggle="dropdown">Games <span class="caret"></span></a>
                        
                        <ul class="dropdown-menu" aria-labelledby="dropdown-options">
                            {% for game in games %}
                                {% if game.divider %}
                                    <li class="divider"></li>
                                {% else %}
                                    <li><a href="/games/<$ game.slug $>/"><$ game.name $></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="../help/">Another Options</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
                    <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>